{{#if this.data.linkTo}}
  {{#if this.data.isFollowedBy}}
    <LinkTo @route={{this.data.linkTo}} class={{this.data.class}}>{{this.data.text}}</LinkTo>{{this.data.isFollowedBy}}
  {{else}}
    <LinkTo @route={{this.data.linkTo}} class={{this.data.class}}>{{this.data.text}}</LinkTo>
  {{/if}}

{{else}}
  {{#if this.data.isFollowedBy}}
    {{#if this.data.hasTarget}}
      <a href={{this.data.href}} class={{this.data.class}} target="_blank" rel="noopener">{{this.data.text}}</a>{{this.data.isFollowedBy}}
    {{else}}
      <a href={{this.data.href}} class={{this.data.class}}>{{this.data.text}}</a>{{this.data.isFollowedBy}}
    {{/if}}
  {{else}}
    {{#if this.data.hasTarget}}
      <a href={{this.data.href}} class={{this.data.class}} target="_blank" rel="noopener">{{this.data.text}}</a>
    {{else}}
      <a href={{this.data.href}} class={{this.data.class}}>{{this.data.text}}</a>
    {{/if}}
  {{/if}}
{{/if}}